@import './partials/mixins';
@import './partials/variables';

$melon-color: #e2625c;
$lime-color: #e4fdc3;
$mint-color: #8ae2c8;
$orange-color: #e89b6a;



.header {
    background-color: $orange-color; 
    padding: 3%;
    text-align: center;

    a {
        color: white;
        font-size: 14px;
        padding: 0.5%;
        text-decoration: none;
    }
}

h2 {
    color: $melon-color;
    
}

h2 {
    color: $melon-color;
}